.metaBox {
  margin: 0 2%;
  display: grid;
  flex: 3;
  text-align: right;
}

time.updated {
  font-size: small;
}

.entry-title {
  font-size: 1.4em;
  margin-bottom: 3%;
}

.posts-cat {
  flex: 2;
}

.posts-cat a {
  background: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.author-box {
  display: flex;
  margin-bottom: 20px;
}

.ibyline.author.vcard {
  flex: 1;
  margin: auto;
}

.ibyline.author.vcard img {
  border-radius: 100%;
}

ul.entry-tag {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: flex-end;
  margin: 2% 0;
}

ul.entry-tag li {
  list-style-type: none;
  padding: 0 1%;
  font-size: 12px;
  margin: 0 1%;
  border-radius: 5px;
}

/*
* 小型PC(960px)以下で切り替え
*/

@media screen and (max-width: 960px) {
  .entry-summary {
    display: block;
  }

  .entry-tag ul {
    display: block;
    margin: 8% 0;
  }
}
