.useTool {
  margin-bottom: 20px;
}

.postbox .inside h2 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.useTool th {
  padding: 8px;
  background: lightgray;
}

.useTool td {
  padding: 3% 5px;
  background: #f1f1f1;
}
