.banner {
  background-color: #cbccf7;
}

.navbar {
  width: 600px;
  margin: 0 auto;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .navbar a:hover {
  @extend .nav-link;

  font-weight: 600;
  transition: 0.3s all ease;
}

.menu-item {
  font-size: 0.8rem;
}

.navbar-toggler-icon i.fas.fa-bars {
  margin-top: 4px;
}
