.archive {
  padding: 15px 10px;
  background: white;
  border-bottom: 1px solid lightgray;
  max-width: 600px;
  margin: 2% auto;
  display: flex;
}

.archive header {
  flex: 5;
}

.entry-title {
  font-size: 1.4em;
  margin-bottom: 3%;
  border-bottom: solid 4px rgba(76, 175, 80, 0.6);
  border-radius: 0 0 160px 180px/0 0 20px 4px;
}

.entry-summary {
  display: flex;
}

time.updated {
  font-size: small;
}

.posts-cat {
  flex: 2;
}

.posts-cat a {
  background: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.entry-content h3 {
  font-size: 1.3em;
  padding: 0.5em;
  color: #494949;
  background-color: #fffaf4;
  border-left: solid 5px #ffaf58;
  width: 35%;
}

iframe.wp-embedded-content {
  max-width: 100%;
  display: block;
  margin: auto;
}

.archive h2.entry-title {
  font-size: 1em;
  border: none;
  margin-right: 20px;
}

.archive time.updated {
  flex: 1;
}

.ibyline.author.vcard {
  flex: 1;
  margin: 0;
}

.ibyline.author.vcard img {
  border-radius: 100%;
}
