.archive {
  padding: 1% 20px;
  background: white;
  border-bottom: 1px solid lightgray;
  max-width: 600px;
  margin: auto;
}

.entry-title {
  font-size: 1.4em;
  margin-bottom: 3%;
  border-bottom: solid 4px rgba(76, 175, 80, 0.6);
  border-radius: 0 0 160px 180px/0 0 20px 4px;
}

time.updated {
  font-size: small;
}

.entry-content h3 {
  font-size: 1.3em;
  padding: 0.5em;
  color: #494949;
  background-color: #fffaf4;
  border-left: solid 5px #ffaf58;
  width: 35%;
}

iframe.wp-embedded-content {
  max-width: 330px;
  height: 400px;
  display: block;
  margin: auto;
}

.archive header {
  flex: 5;
}

.entry-summary {
  flex: 2;
  position: relative;
}

.archive h2.entry-title {
  font-size: 1em;
  border: none;
  margin-right: 20px;
}

.archive time.updated {
  position: absolute;
  bottom: 0;
  right: 0;
}

.archive p.ibyline.author.vcard {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
