h1 {
  font-size: 1.5rem;
  margin: 0.3em 0;
}

h2 {
  font-size: 1.3em;
  padding: 10px 0;
  margin: 2% 0;
  position: relative;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

h3 {
  font-size: 16px;
  padding: 2% 2% 2% 0%;
}

h4 {
  font-size: 1.2em;
  margin: 0 0 0.3em;
}

h5 {
  font-size: 1.1em;
  margin: 0 0 0.3em;
}

p,
th,
td,
li {
  font-size: 14px;
  line-height: 1.5;
  padding-left: 10px;
}

dt {
  margin-bottom: 2%;
}

dd {
  margin: 0;
  font-size: 14px;
  margin-left: 30px;
}

a {
  color: gray;
}

/*
* 960px（小型PC）基準をブレイクポイント
*/

@media screen and (max-width: 960px) {
  time {
    display: none;
  }
}
