body {
  font-family: "YuGothic", serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  padding: 15px 0;
  margin-bottom: 30px;
  position: relative;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  font-size: 14px;
  margin-bottom: 10px;
}

p,
th,
td,
li {
  font-size: 14px;
  line-height: 1.7;
  padding-left: 10px;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

dt {
  margin-bottom: 2%;
}

dd {
  margin: 0;
  font-size: 14px;
  margin-left: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

time {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .w-50 {
    width: 90% !important;
  }
}
